/*!
	Theme Name: Powerhut Cell
	Theme URI: http://my.powerhut.net/themes/cell
	Description: Crafted with graft, a mobile first WooCommerce Genesis child theme
	Author: Graham Washbrook
	Author URI: https://powerhut.net/themes
	
	Version: 0.0.32
	
	Tags:
	
	Template: genesis
	Template Version: 2.5.3
	
	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	
	Text Domain: powerhut-cell
*/

@import 'scaffold';
@import 'theme/woocommerce';

// Prefix a hastag to tag links and tag archive description
// .tax-phut_code_tag .archive-title,
.tag .archive-title,
.tagcloud a,
.entry-tags a {
	&::before {
    content: "#";
	}
}


//* Single cover image
.attachment-single-cover {
	display:block;

}




.cover-wrap {
	margin-bottom: $margin-vertical;
}



// CELL WIDGETISED FRONT PAGE


.cell-home {
	// background: $google-grey-50;
	
	
}
	
	

.home-slider {
	
	// margin-top: -$site-inner-padding-top;
	margin-bottom: 64px;
	
	.widget {
		padding: 0;
		margin: 0;
	}
}
	
.home-top {
	
	margin-bottom: 42px;
	
	.widget {
		
		border: 1px solid $border-color;
		background: #fff;
		margin-bottom: 22px;

		@include media-sm {  }

		@include media-md { 
			float: left;
			margin-left: $column-margin;
			width: $one-third;
				
			&:nth-of-type(3n+1) {
				clear:left;
				margin-left: 0;
			}
				
		}

		@include media-lg {  }
		@include media-xl {  }

	}
	
}
	
.home-bottom-left,
.home-bottom-right {

	margin-bottom: 42px;
	
	.widget {
		margin-bottom: 22px;
		border: 1px solid $border-color;
		background: #fff;


	}

}
	
