/*!
	Theme Name: Powerhut Cell
	Theme URI: http://my.powerhut.net/themes/cell
	Description: Crafted with graft, a mobile first WooCommerce Genesis child theme
	Author: Graham Washbrook
	Author URI: https://powerhut.net/themes
	
	Version: 0.0.32
	
	Tags:
	
	Template: genesis
	Template Version: 2.5.3
	
	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	
	Text Domain: powerhut-cell
*//*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:0.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}html,input[type="search"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}.home-bottom::after,.home-top::after,.gallery::after,.content-sidebar-wrap::after,.author-box::after,.entry::after,.entry-content::after,.footer-widgets::after,.nav-primary::after,.nav-secondary::after,.pagination::after,.content::after,.site-container::after,.site-footer::after,.site-header::after,.site-inner::after,.widget::after,.wrap::after,.clearfix::after{clear:both;content:"";display:table}.home-bottom::after,.home-top::after{clear:both;content:"";display:table}html{font-size:62.5%}body>div{font-size:1.6rem}body{font-size:16px;font-size:1.6rem;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:#fff;color:#424242;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-weight:300;line-height:1.5;letter-spacing:-.02em;text-rendering:optimizelegibility}a,button,input:focus,input[type="button"],input[type="reset"],input[type="submit"],textarea:focus,.gallery img{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}::-moz-selection{background-color:#9FAF90;color:#fff}::selection{background-color:#9FAF90;color:#fff}a{color:#607d8b;text-decoration:underline}a img{vertical-align:bottom}a:hover,a:focus,a:active{color:#90a4ae;text-decoration:underline;outline:0 none}a:hover img,a:focus img,a:active img{opacity:.9}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}p{margin:0 0 1.5em}hr{border:0;border-top:1px dashed rgba(0,0,0,0.1);clear:both;margin:1.5em auto 1.5em auto;width:100%}b,strong,.bold{font-weight:bold}i,em,.italic{font-style:italic}abbr[title],acronym{cursor:help;border-bottom:1px dotted;text-decoration:none}address{font-family:inherit;font-style:inherit;font-weight:inherit;line-height:inherit;margin-bottom:1.5em}mark,.mark{background-color:#9FAF90;color:#fff;padding:1px 6px 2px}cite{font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-style:italic;font-size:.875em;line-height:1.25}ins{text-decoration:none;font-style:italic}code,kbd,pre,samp{font-family:"Bitstream Vera Sans Mono","Consolas","Courier",monospace}code{background-color:#f5f5f5;border:1px solid #e0e0e0;border-radius:0;color:#e91e63;display:inline-block;font-size:90%;padding:0px 4px}pre{background-color:#fafafa;border:1px solid rgba(0,0,0,0.1);color:#424242;display:block;margin:0 auto 1.5em;overflow:auto;padding:1em;vertical-align:middle;white-space:pre;width:100%;word-break:break-all;word-wrap:break-word}pre code{background-color:transparent;border:medium none;border-radius:0;display:block;overflow:auto;padding:0}kbd{background-color:#fff;border:1px solid #000;border-radius:3px;color:#000;cursor:default;display:inline-block;margin:0px 6px 6px 0px;padding:4px 12px}kbd.highlight{background-color:#000;color:#fff}blockquote{background:transparent;border-left:2px solid #424242;color:#424242;font-style:italic;margin:1.5em 0 1.5em .5em;padding:0 0 0 0.5em}ol,ul{margin:0;padding:0}li{list-style-type:none}.entry-content ol,.entry-content ul{margin-bottom:1.5em;margin-left:1em}.entry-content ol li,.entry-content ul li{margin-bottom:0.5em}.entry-content ol ol,.entry-content ol ul,.entry-content ul ul,.entry-content ul ol{margin-bottom:0;margin-top:0.5em}.entry-content ol>li{list-style-type:decimal}.entry-content ol>li ol>li{list-style-type:lower-alpha}.entry-content ol>li ol>li ol>li{list-style-type:lower-roman}.entry-content ol>li ol>li ol>li ol>li{list-style-type:decimal}.entry-content ul>li{list-style-type:disc}.entry-content ul>li ul>li{list-style-type:circle}.entry-content ul>li ul>li ul>li{list-style-type:square}.entry-content ul>li ul>li ul>li ul>li{list-style-type:disc}.entry-content ul.inline{margin-left:0}.entry-content ul.inline li{display:inline-block;list-style:outside none none;margin-right:12px}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h3,.h4,.h5,.h6{color:inherit;font-family:inherit;font-weight:normal;line-height:1.2;margin:0 0 .5em}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h3 small,.h4 small,.h5 small,.h6 small{color:#9e9e9e;font-style:inherit;font-weight:normal;line-height:1}h1,.h1{font-size:32px;font-size:3.2rem}h2,.h2{font-size:28px;font-size:2.8rem}h3,.h3{font-size:22px;font-size:2.2rem}h4,.h4{font-size:20px;font-size:2rem}h5,.h5{font-size:18px;font-size:1.8rem}h6,.h6{font-size:16px;font-size:1.6rem}.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6{margin-top:1em}embed,iframe,img,object,video{max-width:100%}img{font-size:60%;height:auto}img.vertical{vertical-align:top}img.centered{display:block}figure{margin:0}button,input[type="button"],input[type="reset"],input[type="submit"],.button{border:1px solid #424242;background-color:#fff;background-image:none;border-radius:0;color:#424242;cursor:pointer;display:inline-block;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-weight:300;margin-bottom:0;padding:8px 16px;text-align:center;text-decoration:none !important;text-transform:none;touch-action:manipulation;white-space:nowrap;width:auto}button:hover,button:focus,button:active,input[type="button"]:hover,input[type="button"]:focus,input[type="button"]:active,input[type="reset"]:hover,input[type="reset"]:focus,input[type="reset"]:active,input[type="submit"]:hover,input[type="submit"]:focus,input[type="submit"]:active,.button:hover,.button:focus,.button:active{background-color:#424242;border-color:#424242;color:#fff;text-decoration:none}button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,.button:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.button-primary{border:1px solid #607d8b;background-color:#607d8b;border-radius:0;color:#fff;font-weight:300;text-transform:none}.button-primary:hover,.button-primary:focus,.button-primary:active{background-color:#90a4ae;border-color:#607d8b;color:#fff;text-decoration:none}.button-secondary{border:1px solid rgba(0,0,0,0.1);background-color:#fff;border-radius:0;color:#9e9e9e;font-weight:200;text-transform:none}.button-secondary:hover,.button-secondary:focus,.button-secondary:active{background-color:#d9d9d9;border-color:rgba(0,0,0,0.1);color:#9e9e9e;text-decoration:none}.button-success{background-color:#4caf50;border:1px solid #4caf50;color:white}.button-success:hover,.button-success:focus,.button-success:active{background-color:#6ec071;border:1px solid #4caf50}.button-info{background-color:#2196f3;border:1px solid #2196f3;color:white}.button-info:hover,.button-info:focus,.button-info:active{background-color:#51adf6;border:1px solid #2196f3}.button-warning{background-color:#ff9800;border:1px solid #ff9800;color:white}.button-warning:hover,.button-warning:focus,.button-warning:active{background-color:#ffad33;border:1px solid #ff9800}.button-danger{background-color:#f44336;border:1px solid #f44336;color:white}.button-danger:hover,.button-danger:focus,.button-danger:active{background-color:#f77066;border:1px solid #f44336}.button.disabled,button.disabled,button[disabled],fieldset[disabled] .button{opacity:.5;pointer-events:none}.button-lg{padding:10px 16px;font-size:18px}.button-sm{border-width:1px;padding:5px 10px;font-size:12px;border-radius:0px}.button-xs{border-width:1px;padding:2px 6px;font-size:10px;border-radius:0px}.button-block{display:block;width:100%}.button-block+.button-block{margin-top:10px}input[type="submit"].button-block,input[type="reset"].button-block,input[type="button"].button-block{width:100%}form{margin:0 0 1.5em}fieldset{padding:0;margin:0;border:0;min-width:0}legend{display:block;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;width:100%;padding:0;margin-bottom:1.5em;font-size:18px;font-size:1.8rem;line-height:inherit;color:inherit;border:0;border-bottom:1px solid rgba(0,0,0,0.1)}label{color:inherit;display:block;font-size:14px;font-size:1.4rem;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-weight:300;max-width:100%;margin-bottom:2px}select,textarea,input[type="file"],input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input:not([type]){font-size:16px;font-size:1.6rem;background-color:#fff;border:1px solid rgba(0,0,0,0.1);color:#424242;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-weight:300;padding:12px 8px;width:100%}input[type="file"]{display:block}input[type="color"]{background-color:#fff;border:1px solid rgba(0,0,0,0.1);padding:2px}input:focus,textarea:focus{border:1px solid #90a4ae;outline:none}input[type="file"],input[type="checkbox"],input[type="image"],input[type="radio"]{width:auto;cursor:pointer}select{cursor:pointer}::-moz-placeholder{color:#9e9e9e;opacity:1}::-webkit-input-placeholder{color:#9e9e9e}.help-block{font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;color:#9e9e9e}caption{font-size:12px;font-size:1.2rem;color:inherit;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;padding-top:8px;padding-bottom:8px;text-align:left}table{background-color:#fff;border-collapse:collapse;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;width:100%;max-width:100%;margin-bottom:1.5em}table>thead>tr>th,table>thead>tr>td,table>tbody>tr>th,table>tbody>tr>td,table>tfoot>tr>th,table>tfoot>tr>td{padding:8px;line-height:1.5;text-align:left;vertical-align:top;border-top:1px solid rgba(0,0,0,0.1)}table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid rgba(0,0,0,0.1)}table>caption+thead>tr:first-child>th,table>caption+thead>tr:first-child>td,table>colgroup+thead>tr:first-child>th,table>colgroup+thead>tr:first-child>td,table>thead:first-child>tr:first-child>th,table>thead:first-child>tr:first-child>td{border-top:0}table>tbody+tbody{border-top:2px solid rgba(0,0,0,0.1)}table table{background-color:#fff}.table-condensed>thead>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>tfoot>tr>td{padding:5px;font-size:90%}.table-bordered{border:1px solid rgba(0,0,0,0.1)}.table-bordered>thead>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>tfoot>tr>td{border:1px solid rgba(0,0,0,0.1)}.table-bordered>thead>tr>th,.table-bordered>thead>tr>td{border-bottom-width:2px}.table-striped>tbody>tr:nth-child(odd){background-color:rgba(26,26,26,0.1)}.table-hover>tbody>tr:hover{background-color:rgba(13,13,13,0.1)}table col[class*="col-"]{position:static;float:none;display:table-column}table td[class*="col-"],table th[class*="col-"]{position:static;float:none;display:table-cell}.table-responsive{overflow-x:auto;min-height:0.01%;margin-bottom:1.5em}@media screen and (max-width: 767px){.table-responsive{width:100%;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive>table{margin-bottom:0}.table-responsive>table>thead>tr>th,.table-responsive>table>thead>tr>td,.table-responsive>table>tbody>tr>th,.table-responsive>table>tbody>tr>td,.table-responsive>table>tfoot>tr>th,.table-responsive>table>tfoot>tr>td{white-space:nowrap}}.alert{border:1px solid transparent;border-radius:0px;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;font-size:16px;font-size:1.6rem;margin-bottom:1.5em;margin-top:1.5em;padding:16px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:inherit}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-error,.alert-danger{background-color:#f44336;border-color:#f44336;color:#fff}.alert-error hr,.alert-danger hr{border-top-color:#f32c1e}.alert-error a,.alert-danger a{color:#fff;text-decoration:underline}.alert-error a:hover,.alert-error a:focus,.alert-error a:active,.alert-danger a:hover,.alert-danger a:focus,.alert-danger a:active{text-decoration:none}.alert-warning{background-color:#ff9800;border-color:#ff9800;color:#fff}.alert-warning hr{border-top-color:#e68900}.alert-warning a{color:#fff;text-decoration:underline}.alert-warning a:hover,.alert-warning a:focus,.alert-warning a:active{text-decoration:none}.alert-success{background-color:#4caf50;border-color:#4caf50;color:#fff}.alert-success hr{border-top-color:#449d48}.alert-success a{color:#fff;text-decoration:underline}.alert-success a:hover,.alert-success a:focus,.alert-success a:active{text-decoration:none}.alert-info{background-color:#2196f3;border-color:#2196f3;color:#fff}.alert-info hr{border-top-color:#0d8aee}.alert-info a{color:#fff;text-decoration:underline}.alert-info a:hover,.alert-info a:focus,.alert-info a:active{text-decoration:none}.screen-reader-text,.screen-reader-text span,.screen-reader-shortcut{position:absolute !important;clip:rect(0, 0, 0, 0);height:1px;width:1px;border:0;overflow:hidden;word-wrap:normal !important}.screen-reader-text:focus,.screen-reader-shortcut:focus,.genesis-nav-menu .search input[type="submit"]:focus,.widget_search input[type="submit"]:focus{clip:auto !important;height:auto;width:auto;display:block;font-size:1em;font-weight:bold;padding:15px 23px 14px;color:#000;background:#fff;z-index:100000;text-decoration:none;box-shadow:0 0 2px 2px rgba(0,0,0,0.6)}.more-link{position:relative}.aligncenter,div.aligncenter,img.aligncenter{display:block;margin-left:auto;margin-right:auto}@media screen and (min-width: 768px){.alignleft{float:left;text-align:left}.alignleft .avatar{margin-right:16px}}@media screen and (min-width: 768px){.alignright{float:right;text-algin:right}.alignright .avatar{margin-left:16px}}a.alignleft,a.alignnone,a.alignright{max-width:100%}a.alignnone{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img{display:block}.wp-caption-text{font-size:12px;font-size:1.2rem;color:#9e9e9e;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;line-height:1.1;padding:4px 0 0 0}.wp-caption-text:before{content:"\f534";font-family:'dashicons';vertical-align:top;display:inline-block;margin-right:2px}.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail{max-width:100%;height:auto}.avatar{border-radius:50%;float:left}.author-box .avatar,.alignleft .avatar{margin-right:24px}.alignright .avatar{margin-left:24px}.comment .avatar{height:60px;margin:0 16px 24px 0;width:60px}.gallery{overflow:hidden;margin-bottom:1.5em}.gallery a,.gallery a:hover,.gallery a:focus,.gallery a:active{text-decoration:none;border:0 none}.gallery-item{padding:4px}.gallery-item .gallery-icon img{display:block}.gallery .gallery-item img{border:none;height:auto;margin-bottom:0;width:100%}.genesis-grid-even{float:right;padding:0 0 15px;width:48%}.genesis-grid-odd{clear:both;float:left;padding:0 0 15px;width:48%}.genesis-grid-even,.genesis-grid-odd{margin:0 0 20px}.breadcrumb{font-size:14px;font-size:1.4rem;color:#9e9e9e;margin-bottom:16px}.site-inner{margin:0 auto}.wrap{margin:0 auto;max-width:100%;padding:0 15px;word-wrap:break-word}@media screen and (min-width: 768px){.wrap{max-width:976px}}@media screen and (min-width: 992px){.wrap{padding:0}}@media screen and (min-width: 1280px){.wrap{max-width:1200px}}@media screen and (min-width: 992px){.content{float:right;width:640px}}@media screen and (min-width: 1280px){.content{width:848px}}@media screen and (min-width: 992px){.content-sidebar .content{float:left}}@media screen and (min-width: 992px){.full-width-content .content{float:none;width:100%}}.content-no-sidebars .content{float:none;margin:0 auto;max-width:100%}@media screen and (min-width: 992px){.content-no-sidebars .content{width:640px}}@media screen and (min-width: 1280px){.content-no-sidebars .content{width:848px}}.sidebar-primary{width:100%}@media screen and (min-width: 576px){.sidebar-primary{width:300px}}@media screen and (min-width: 768px){.sidebar-primary{width:300px}}@media screen and (min-width: 992px){.sidebar-primary{float:right;width:300px}}@media screen and (min-width: 1280px){.sidebar-primary{width:300px}}@media screen and (min-width: 992px){.sidebar-content .sidebar-primary{float:left}}.genesis-nav-menu{clear:both;font-size:14px;font-size:1.4rem;line-height:1;width:100%}.genesis-nav-menu .menu-item{display:inline-block;margin-bottom:0;padding-bottom:0;text-align:left}.genesis-nav-menu>.menu-item-has-children>a:after{content:"\f347";font:normal 16px/1 'dashicons';display:inline-block;-webkit-font-smoothing:antialiased;padding-left:3px;vertical-align:top}.genesis-nav-menu a{color:#607d8b;display:block;padding:18px 20px;padding:15px 20px;text-decoration:none}.genesis-nav-menu a:focus,.genesis-nav-menu a:hover,.genesis-nav-menu .current-menu-item>a,.genesis-nav-menu .sub-menu .current-menu-item>a:focus,.genesis-nav-menu .sub-menu .current-menu-item>a:hover{color:#424242;text-decoration:underline}.genesis-nav-menu .sub-menu{border-top:1px solid rgba(0,0,0,0.1);left:-9999px;opacity:0;position:absolute;-webkit-transition:opacity .4s ease-in-out;-moz-transition:opacity .4s ease-in-out;-ms-transition:opacity .4s ease-in-out;-o-transition:opacity .4s ease-in-out;transition:opacity .4s ease-in-out;width:200px;z-index:99}.genesis-nav-menu .sub-menu a{background-color:#fff;border:1px solid rgba(0,0,0,0.1);border-top:0;font-size:14px;font-size:1.4rem;padding:20px;position:relative;width:200px;word-wrap:break-word}.genesis-nav-menu .sub-menu .sub-menu{margin:-56px 0 0 199px}.genesis-nav-menu .menu-item:hover{position:static}.genesis-nav-menu .menu-item:hover>.sub-menu{left:auto;opacity:1}.genesis-nav-menu>.first>a{padding-left:0}.genesis-nav-menu>.last>a{padding-right:0}.genesis-nav-menu>.right{float:right}.menu .menu-item:focus{position:static}.menu .menu-item>a:focus+ul.sub-menu,.menu .menu-item.sfHover>ul.sub-menu{left:auto;opacity:1}.menu-toggle,.sub-menu-toggle{display:none;visibility:hidden}.site-header .genesis-nav-menu a{color:#fff}.site-header .genesis-nav-menu li li{margin-left:0}.nav-primary{background-color:#fff;border-bottom:1px solid rgba(0,0,0,0.1);color:#424242}.nav-primary .genesis-nav-menu a{color:#607d8b;border-left:1px solid rgba(0,0,0,0.1)}.nav-primary .genesis-nav-menu a:focus,.nav-primary .genesis-nav-menu a:hover,.nav-primary .genesis-nav-menu .current-menu-item>a,.nav-primary .genesis-nav-menu .sub-menu .current-menu-item>a:focus,.nav-primary .genesis-nav-menu .sub-menu .current-menu-item>a:hover{color:#424242;text-decoration:none}.site-footer .genesis-nav-menu{padding-bottom:20px}.site-footer .genesis-nav-menu a{padding:0 20px 10px}@media only screen and (max-width: 1023px){.genesis-responsive-menu .genesis-nav-menu .sub-menu,.genesis-responsive-menu .genesis-nav-menu .sub-menu a{width:100%}.genesis-nav-menu li,.site-header ul.genesis-nav-menu{float:none}.genesis-nav-menu{text-align:center}.genesis-responsive-menu .wrap{padding:0}.genesis-responsive-menu{display:none;position:relative}.genesis-skip-link .skip-link-hidden{display:none;visibility:hidden}.menu-toggle,.sub-menu-toggle{background-color:#fff;border-width:0;color:#607d8b;display:block;margin:0 auto;overflow:hidden;text-align:center;visibility:visible}.menu-toggle:focus,.menu-toggle:hover,.sub-menu-toggle:focus,.sub-menu-toggle:hover{background-color:#fff;border-width:0;color:#607d8b}.menu-toggle{line-height:22px;position:relative;width:100%;z-index:1000}.menu-toggle,.menu-toggle:focus,.menu-toggle:hover{border-bottom:1px solid rgba(0,0,0,0.1)}.menu-toggle::before{font-size:1.5em;margin-right:10px;text-rendering:auto}.sub-menu-toggle{float:right;padding:13px 10px;position:absolute;right:0;top:0;z-index:100}.sub-menu .sub-menu-toggle{padding:12px 10px}.sub-menu-toggle::before{display:inline-block;text-rendering:auto;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:transform .25s ease-in-out;-ms-transition:transform .25s ease-in-out;transition:transform .25s ease-in-out}.sub-menu-toggle.activated::before{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.genesis-responsive-menu .genesis-nav-menu .menu-item{display:block;float:none;position:relative;text-align:left}.genesis-responsive-menu .genesis-nav-menu .menu-item:focus,.genesis-responsive-menu .genesis-nav-menu .menu-item:hover{position:relative}.genesis-responsive-menu .genesis-nav-menu .menu-item a{border:none;margin-bottom:1px;padding:15px 20px;width:100%}.genesis-responsive-menu .genesis-nav-menu .sub-menu{border:none}.genesis-responsive-menu .genesis-nav-menu .menu-item>a:focus ul.sub-menu,.genesis-responsive-menu .genesis-nav-menu .menu-item>a:focus ul.sub-menu .sub-menu{left:0;margin-left:0}.genesis-responsive-menu .genesis-nav-menu>.menu-item-has-children>a::after{content:none}.genesis-responsive-menu .genesis-nav-menu .sub-menu{clear:both;display:none;margin:0;opacity:1;padding-left:15px;position:static;width:100%}.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu{margin:0}}.initialism{font-size:90%;text-transform:uppercase}.lead{font-size:20px;font-size:2rem;font-weight:inherit}.text-muted{color:#9e9e9e}.cursive{font-family:cursive}.pre-scrollable{max-height:200px;overflow-y:scroll}.clear{clear:both}.invisible{visibility:hidden}.display-none{display:none !important}.img-rounded{border-radius:6px}.img-circle{border-radius:50%}.block-link{left:0;top:0;width:100%;height:100%;position:absolute;z-index:2}.grid .entry,.grid .column-sizer{width:100%}@media screen and (min-width: 576px){.grid .entry,.grid .column-sizer{width:49.0566%}}@media screen and (min-width: 768px){.grid .entry,.grid .column-sizer{width:32.07547%}}.grid .gutter-sizer{width:0%}@media screen and (min-width: 576px){.grid .gutter-sizer{width:1.88679%}}.search-form{overflow:hidden;width:100%}.search-form input[type="search"]{border-top-right-radius:0;border-bottom-right-radius:0;width:calc( 100% - 48px )}.search-form button{width:48px;background-color:rgba(0,0,0,0.1);background-color:#607d8b;border-top-right-radius:4px;border-bottom-right-radius:4px;border-left:0 none;border-color:rgba(0,0,0,0.1);color:#fff;height:43px;line-height:1;padding-bottom:7px;padding-top:8px}.search-form button:after{content:"\f179";font-family:Dashicons}.search-form button:hover,.search-form button:focus,.search-form button:active{background-color:#90a4ae}.widget{margin:0px 0px 16px 0px;padding:24px 16px 16px 16px}.widget ul ul{margin-left:1em;margin-top:0.5em;margin-bottom:0.5em}.widget ol>li{list-style-position:inside;list-style-type:decimal;padding-left:20px;text-indent:-20px}.widget select{width:100%}.widget li{margin-bottom:0.5em}.widget p{margin-bottom:0.75em}.widget li:last-child,.widget p:last-child{margin-bottom:0}.widget .search-form{margin-bottom:0}.sidebar .widget{margin:0px 0px 16px 0px;padding:24px 16px 16px 16px}.sidebar .widget a{text-decoration:none}.sidebar .widget a:hover,.sidebar .widget a:focus,.sidebar .widget a:active{text-decoration:underline}.sidebar-primary .widget{background:#fff;margin:0px 0px 0px 0px;padding:0px 16px 32px 16px;border-left:1px solid rgba(0,0,0,0.1)}.sidebar-primary .widget-title{font-size:16px;font-size:1.6rem;color:#9e9e9e;margin-bottom:24px;margin-bottom:16px;padding-bottom:4px;border-bottom:1px solid rgba(0,0,0,0.1)}.widget_recent_entries .post-date{color:#9e9e9e;white-space:nowrap;font-size:10px;font-size:1rem}.widget_rss .widget-title a img{height:18px;margin-bottom:5px;vertical-align:middle;width:auto}.widget_rss li{margin-bottom:16px}.widget_rss li a{font-family:inherit}.widget_rss li span.post-date,.widget_rss li span.rss-date{font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;color:#9e9e9e;display:block;font-size:12px;font-size:1.2rem}.widget_rss li:last-child{margin-bottom:0}.widget_rss li .rssSummary{font-size:14px;font-size:1.4rem}.widget_rss li cite{color:#9e9e9e;display:block;font-size:12px;font-size:1.2rem}.widget_calendar table{margin:0 auto}.widget_calendar th,.widget_calendar td{text-align:center;padding:5px;font-size:90%}.widget_calendar th{background-color:rgba(0,0,0,0.1)}.widget_calendar tbody td{border-right:1px solid rgba(0,0,0,0.1);border-left:1px solid rgba(0,0,0,0.1);background-color:#fff}.widget_calendar tbody td.pad{background-color:transparent}.widget_calendar tbody a{text-decoration:underline !important}.widget_calendar tbody a:hover,.widget_calendar tbody a:focus,.widget_calendar tbody a:active{text-decoration:none !important}.widget_calendar #prev{text-align:left}.widget_calendar #next{text-align:right}.site-header{background:#607d8b;color:#fff}.title-area{float:left}.site-title{font-size:26px;font-size:2.6rem;letter-spacing:normal;margin-bottom:8px;padding-top:8px}.site-title a{color:white;text-decoration:none}.site-title a:hover,.site-title a:focus,.site-title a:active{color:white}.site-description{display:block;height:0;margin:0;text-indent:-9999px}.header-image .title-area{height:55px;margin-left:auto;margin-right:auto;width:240px;padding:0;margin-bottom:8px;margin-top:8px}.header-image .site-title{padding:0}.header-image .site-title a{display:block;height:55px;width:240px;text-indent:-9999px}.header-image .site-title a:hover,.header-image .site-title afocus,.header-image .site-title a:active{opacity:0.9}.header-widget-area{float:right}.header-widget-area .widget{margin:0;padding:0}.site-inner{padding-top:64px}.entry{border-bottom:1px solid rgba(0,0,0,0.1);margin:0 0 3em 0;padding:0 0 24px 0}@media screen and (min-width: 576px){.entry.has-post-thumbnail .entry-image-link{float:left;width:250px;margin-bottom:16px}}@media screen and (min-width: 576px){.entry.has-post-thumbnail .entry-wrap{float:left;width:calc( 100% - 250px);padding:0 0 0 16px}}.entry-image-link{display:block;margin-bottom:24px}.entry-image{width:100%}.entry-title{margin:0}.entry-title a{text-decoration:none}.entry-title a:hover,.entry-title a:focus,.entry-title a:active{text-decoration:underline}.entry-meta{font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;color:#9e9e9e;font-size:12px;font-size:1.2rem;margin-bottom:0}.entry-header{margin-bottom:1em}.entry-footer{clear:both}.entry-footer .entry-meta{clear:both}.entry-categories,.entry-tags{display:block;margin:4px 0}.entry-categories a,.entry-tags a{text-decoration:none}.entry-categories a:hover,.entry-categories a:focus,.entry-categories a:active,.entry-tags a:hover,.entry-tags a:focus,.entry-tags a:active{text-decoration:underline}.entry-categories .dashicons,.entry-tags .dashicons{color:#9e9e9e;font-size:14px;font-size:1.4rem}.error404 .entry-header,.page .entry-header,.single .entry-header,.archive-description{margin-bottom:1.5em}.error404 .entry,.page .entry,.single .entry{border:0 none}.pagination{clear:both}.pagination li{display:inline}.pagination li a{background-color:#fff;color:#607d8b;border-width:1px;border-style:solid;border-color:rgba(0,0,0,0.1);cursor:pointer;display:inline-block;font-size:14px;font-size:1.4rem;padding:8px 16px;text-decoration:none !important}.pagination li a:hover,.pagination li a:active,.pagination li a:focus{background-color:#eceff1;color:#607d8b}.pagination li.active a{background-color:#cfd8dc;color:#fff}.pagination.adjacent-entry-pagination,.pagination.archive-pagination{font-size:14px;font-size:1.4rem}.pagination.adjacent-entry-pagination{background:#fff;margin-bottom:16px;padding-top:16px;padding-bottom:16px}.pagination.adjacent-entry-pagination .pagination-previous,.pagination.adjacent-entry-pagination .pagination-next{width:48%}.pagination.adjacent-entry-pagination .pagination-next{text-align:right}.pagination.archive-pagination{margin:3em 0}.entry-pagination{font-size:12px;font-size:1.2rem;margin:16px 0}.entry-pagination a,.entry-pagination>span{background-color:#fff;color:#607d8b;display:inline-block;text-align:center;border:none;margin:0 4px 4px 0;padding:4px 12px}.entry-pagination>span{background-color:#cfd8dc;color:#fff;cursor:default}.entry-pagination a{text-decoration:none}.entry-pagination a:hover,.entry-pagination a:active,.entry-pagination a:focus{background-color:#eceff1;color:#607d8b;text-decoration:none}.entry-comments>h3,.entry-pings>h3,.comment-respond>h3{color:#111;font-size:42px;font-size:4.2rem;font-weight:900;line-height:1.1;letter-spacing:-1px}.comment-respond,.entry-comments,.entry-pings{background-color:#fff;font-size:14px;font-size:1.4rem;line-height:1.85;margin-bottom:70px}.comment-list li{border-left:2px solid #eee;margin:35px 0 0 15px;padding:0 0 0 35px}.comment-list .depth-1{border-left:none;margin-left:0;padding:0}.comment-header{font-size:12px;font-size:1.2rem;line-height:1.5;margin-bottom:20px;overflow:hidden}.comment-header a{color:#555;font-family:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;font-weight:700;letter-spacing:0.03em;text-decoration:none;text-transform:uppercase}.comment-header p{margin-bottom:0}.says{color:#707070;font-style:italic;margin-left:5px}.comment-content{clear:both}.comment-content p{margin-bottom:15px}.comment-content ul>li{list-style-type:disc}.comment-respond input[type="email"],.comment-respond input[type="text"],.comment-respond input[type="url"]{width:50%}.comment-respond label{display:block;margin-right:12px}.comment-reply{color:#000cff;font-family:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;font-weight:700;letter-spacing:.08em;text-transform:uppercase}.entry-pings .reply{display:none}.sidebar-primary{font-size:14px;font-size:1.4rem;margin-bottom:64px}.footer-widgets{background:#9FAF90;color:#fff;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;padding-top:2em;padding-bottom:1em;border-top:1px solid rgba(0,0,0,0.1)}.footer-widgets a{color:#90a4ae}.footer-widgets a:hover,.footer-widgets a:focus,.footer-widgets a:active{color:#fff;text-decoration:underline}.footer-widgets .widget{border:1px solid;border-color:#a9b79b;background:transparent;padding:32px 24px 32px 24px}.footer-widgets .widget-title{color:#fff}.site-footer{font-size:14px;font-size:1.4rem;background:#fff;border-top:1px solid #e0e0e0;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;letter-spacing:1px;padding-bottom:16px;padding-top:24px;text-align:center}div.juxtapose{margin-bottom:1.5em}#disqus_thread{padding-top:24px;border-top:4px solid rgba(0,0,0,0.1);margin-bottom:1.5em}.type-phut_thenandnow{border:1px solid rgba(0,0,0,0.1);margin:0 0 16px 0;padding:0}.type-phut_thenandnow .entry-image-link{float:none;width:100%;margin-bottom:0}.type-phut_thenandnow .entry-wrap{padding:24px 16px 0px 16px}.type-phut_thenandnow .entry-header{margin:0}.type-phut_thenandnow .entry-content{font-size:14px;font-size:1.4rem}.type-phut_thenandnow .entry-content p{margin-bottom:16px}.type-phut_thenandnow h2.entry-title{font-size:20px;font-size:2rem;margin-bottom:16px}.type-phut_thenandnow .entry-footer{background:#fafafa;padding:8px 16px 4px 16px}@media screen and (min-width: 576px){.type-phut_thenandnow.has-post-thumbnail .entry-image-link{float:none;margin-bottom:0;width:100%}.type-phut_thenandnow.has-post-thumbnail .entry-wrap{float:none;width:auto;padding:24px 16px 0px 16px}}@media screen and (min-width: 576px){a.alignleft,img.alignleft,.wp-caption.alignleft{margin:0 16px 16px 0}a.alignright,img.alignright,.wp-caption.alignright{margin:0 0 16px 16px}}@media screen and (min-width: 768px){/*! Genesis Column Classes
 * Width: 848px
 * Gutter: 16px
 * Link: https://my.powerhut.net/blog/genesis-column-classes-generator/
------------------------------------------------------------------------ */;.eleven-twelfths,.ten-twelfths,.nine-twelfths,.eight-twelfths,.seven-twelfths,.six-twelfths,.five-twelfths,.four-twelfths,.three-twelfths,.two-twelfths,.one-twelfth,.five-sixths,.four-sixths,.three-sixths,.two-sixths,.one-sixth,.four-fifths,.three-fifths,.two-fifths,.one-fifth,.three-fourths,.two-fourths,.one-fourth,.two-thirds,.one-third,.one-half{float:left;margin-left:1.8867924528302%}.one-half,.two-fourths,.three-sixths,.six-twelfths{width:49.056603773585%}.one-third,.two-sixths,.four-twelfths{width:32.075471698113%}.two-thirds,.four-sixths,.eight-twelfths{width:66.037735849057%}.one-fourth,.three-twelfths{width:23.584905660377%}.three-fourths,.nine-twelfths{width:74.528301886792%}.one-fifth{width:18.490566037736%}.two-fifths{width:38.867924528302%}.three-fifths{width:59.245283018868%}.four-fifths{width:79.622641509434%}.one-sixth,.two-twelfths{width:15.094339622642%}.five-sixths,.ten-twelfths{width:83.018867924528%}.one-twelfth{width:6.6037735849057%}.five-twelfths{width:40.566037735849%}.seven-twelfths{width:57.547169811321%}.eleven-twelfths{width:91.509433962264%}.first{clear:both;margin-left:0}.footer-widgets .widget-area{float:left;margin-left:1.88679%;width:32.07547%}.footer-widgets .footer-widgets-1{margin-left:0}}.woocommerce nav.woocommerce-pagination{text-align:left}.woocommerce .related{clear:both}.woocommerce mark.count{background-color:inherit;color:inherit;padding:0}.tag .archive-title::before,.tagcloud a::before,.entry-tags a::before{content:"#"}.attachment-single-cover{display:block}.cover-wrap{margin-bottom:1.5em}.home-slider{margin-bottom:64px}.home-slider .widget{padding:0;margin:0}.home-top{margin-bottom:42px}.home-top .widget{border:1px solid rgba(0,0,0,0.1);background:#fff;margin-bottom:22px}@media screen and (min-width: 768px){.home-top .widget{float:left;margin-left:1.88679%;width:32.07547%}.home-top .widget:nth-of-type(3n+1){clear:left;margin-left:0}}.home-bottom-left,.home-bottom-right{margin-bottom:42px}.home-bottom-left .widget,.home-bottom-right .widget{margin-bottom:22px;border:1px solid rgba(0,0,0,0.1);background:#fff}
