// Column widths 848px/16px
$column-margin: 1.8867924528302% !default;
$one-third: 32.075471698113% !default;
$one-half: 49.056603773585% !default;
$one-fourth: 23.584905660377% !default;
$one-fifth: 18.490566037736% !default;


// Breakpoints - SASS map
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;



$sm-width: 576px;  // Phone landscape
$md-width: 768px;  // iPad Portrait
$lg-width: 992px;  // iPad landscape + laptop
$xl-width: 1280px; // Large screen





// Layout widths
// -----------------------------------------------*/


// Wrap
$wrap-width-md: 976px;
$wrap-width-lg: $wrap-width-md;
$wrap-width-xl: 1200px;

// Content widthfo
$content-width-lg: 640px;
// $content-width-xl: 800px;
$content-width-xl: 848px;

// Primary sidebar
$sidebar-primary-width-xs: 100%; 
$sidebar-primary-width-sm: 300px;
$sidebar-primary-width-md: 300px;
$sidebar-primary-width-lg: 300px;
$sidebar-primary-width-xl: 300px;


// Colours
// -----------------------------------------------*/


// Theme
// -----------------------------------*/
$theme-green: #9FAF90;



// Brand primary
// -----------------------------------*/
$brand-primary:       $google-teal-500;
$brand-primary-light: $google-teal-300;
$brand-primary-dark:  $google-teal-900;

$brand-primary:       $google-blue-grey-500;
$brand-primary-light: $google-blue-grey-300;
$brand-primary-dark:  $google-blue-grey-900;

// Brand accent
// -----------------------------------*/
$brand-accent:       $google-deep-purple-A200;
$brand-accent-light: $google-deep-purple-A100;
$brand-accent-dark:  $google-deep-purple-A700;

// Contextual
// -----------------------------------*/
$brand-success: $google-green-500;
$brand-info:    $google-blue-500;
$brand-warning: $google-orange-500;
$brand-danger:  $google-red-500;

// Body
// -----------------------------------*/
$body-bg:    $white;
$text-color: $google-grey-800;

$text-muted: $google-grey-500;

// Borders
// -----------------------------------*/
// $border-color: $google-grey-100;
$border-color: rgba(0,0,0,.1);

// Selected text
// -----------------------------------*/
$selection-bg:    $black;

$selection-bg:    $theme-green;

$selection-color: $white;



// LINKS
// -----------------------------------------------*/

// Link default
$link-color: $brand-primary;
$link-decoration: underline;
$link-image-opacity: 1;

// Link hover, focus, active
$link-hover-color: $brand-primary-light;
$link-hover-decoration: underline;
$link-hover-image-opacity: .9;



// FONTS
// -----------------------------------------------*/

// Font Families
$font-family-serif: $georgia;
$font-family-cursive: cursive;
$font-family-monospace: $monospace;
$font-family-sans-serif: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

$font-family-base: $font-family-sans-serif;


// Font sizes
$font-size-lg:   18px; // lg
$font-size-base: 16px; // base
$font-size-sm:   14px; // sm
$font-size-xs:   12px; // xs
$font-size-xxs:  10px; // xxs

// Headings
$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;


// Font weights
$font-weight-light: 200;
$font-weight-base: 300;
$font-weight-bold: bold;

// Lead text
$font-size-lead:   $font-size-h4;
$font-weight-lead: inherit;

// Breadcrumb
$font-size-breadcrumb: $font-size-sm;

// Line height
$line-height-base: 1.5;

// Letter spacing
$letter-spacing-base: -0.02em;

// VERTICAL SPACING
$margin-vertical: 1.5em; // Rename to something more meaningful?

// BORDERS
$border-radius-small: 3px;
$border-radius-base: 4px;
$border-radius-large: 6px;

// <hr />
$hr-height: 1px;
$hr-border-style: dashed;
$hr-color: $border-color;
$hr-margin-top: $margin-vertical;
$hr-margin-right: auto;
$hr-margin-bottom: $margin-vertical;
$hr-margin-left: auto;
$hr-width: 100%;

// <address></address>
$font-family-address: inherit;
$font-weight-address: inherit;
$font-style-address:  inherit;
$line-height-address: inherit;
$address-margin-bottom: $margin-vertical;

// <mark></mark>
$highlighted-bg: $selection-bg;
$highlighted-color: $selection-color;
$highlighted-padding: 1px 6px 2px;

// <cite></cite>
$font-family-cite: $font-family-base;
$font-style-cite: italic;
$font-size-cite: 0.875em;
$line-height-cite: 1.25;

// <ins></ins>
$font-style-ins: italic;

// <code></code>
$code-bg:            $google-grey-100;
$code-color:         $google-pink-500;
$code-border-color:  $google-grey-300;
$code-border-radius: 0;

// <pre><code></code></pre>
$pre-bg: $google-grey-50;
$pre-color: $text-color;
$pre-border-color: $border-color;
$pre-padding: 1em;
$pre-width: 100%;

$pre-scrollable-max-height: 200px;


// <kbd></kbd>
$kbd-bg: $white;
$kbd-color: $black;
$kbd-border-radius: $border-radius-small;
$kbd-margin-top: 0px;
$kbd-margin-right: 6px;
$kbd-margin-bottom: 6px;
$kbd-margin-left: 0px;
$kbd-padding: 4px 12px;

// <blockquote></blockquote>
$blockquote-bg: transparent;
$blockquote-color: $text-color;
$blockquote-border-color: $blockquote-color;
$font-style-blockquote: italic;
$blockquote-margin-top: $margin-vertical;
$blockquote-margin-right: 0;
$blockquote-margin-bottom: $margin-vertical;
$blockquote-margin-left: .5em;
$blockquote-padding: 0 0 0 .5em;

// Headings
$headings-color: inherit;
$font-family-headings: inherit;
$font-weight-headings: normal;
$line-height-headings: 1.2;
$headings-margin-bottom: .5em;

// Headings <small></small>
$headings-small-color: $text-muted;
$font-weight-headings-small: $font-weight-headings;
$font-style-headings-small: italic;
$font-style-headings-small: inherit;

// Captioned images & Table caption
$font-family-caption: $font-family-sans-serif;
$font-size-caption: 12px;


// BUTTONS
// -----------------------------------------------*/

// Default Button
// -----------------------------------*/

$button-bg: $white;
$button-color: $text-color;
$button-border-color: $button-color;

$button-hover-bg:  $text-color;
$button-hover-color: $white;
$button-hover-border-color: $button-border-color;

$button-border-width: 1px;
$button-border-radius: 0;
$font-family-button: $font-family-sans-serif;
$font-weight-button: $font-weight-base;
$button-text-transform: none; // none | uppercase | capitalize | lowercase





// Primary Button
// -----------------------------------*/

$button-primary-bg:           $brand-primary;
$button-primary-color:        $white;
$button-primary-border-color: $brand-primary;

$button-primary-hover-bg:           $brand-primary-light;
$button-primary-hover-color:        $button-primary-color;
$button-primary-hover-border-color: $button-primary-border-color;

$button-primary-border-width:   $button-border-width;
$button-primary-border-radius:  $button-border-radius;
$font-weight-button-primary:    $font-weight-button;
$button-primary-text-transform: none; // none | uppercase | capitalize | lowercase

// Secondary Button
// ----------------------------*/

$button-secondary-bg:           $white;
$button-secondary-color:        $text-muted;
$button-secondary-border-color: $border-color;

$button-secondary-hover-bg:           darken($button-secondary-bg, 15%);
$button-secondary-hover-color:        $button-secondary-color;
$button-secondary-hover-border-color: $button-secondary-border-color;

$button-secondary-border-width:   $button-border-width;
$button-secondary-border-radius:  $button-border-radius;
$font-weight-button-secondary:    $font-weight-light;
$button-secondary-text-transform: none; // none | uppercase | capitalize | lowercase


// Contextual Buttons
// ----------------------------*/
$button-success-bg:	$brand-success;
$button-info-bg:    $brand-info;
$button-warning-bg: $brand-warning;
$button-danger-bg:  $brand-danger;


// Button sizes
// ----------------------------*/
$button-padding:    8px 16px;
$button-lg-padding: 10px 16px;
$button-sm-padding: 5px 10px;
$button-xs-padding: 2px 6px;

$button-border-radius-small: 0px;


// Forms
// ----------------------------*/

$font-family-form-base: $font-family-sans-serif;

// - Legend
$legend-color: inherit;
$legend-border-color: $border-color;
$font-size-legend: $font-size-lg;
$font-family-legend: $font-family-form-base;

// - Label
$label-color: inherit;
$font-family-label: $font-family-form-base;
$font-weight-label: $font-weight-base;
$font-size-label: $font-size-sm;
$label-margin-bottom: 2px;

// - Inputs
$input-bg: $white;
$input-color: $text-color;
$placeholder-color: $text-muted;
$font-family-input: $font-family-form-base;

// - Help text
$font-family-form-help: $font-family-form-base;

// Tables
// ----------------------------*/

$caption-color: $headings-color;
$font-size-caption: $font-size-xs;

$font-family-table: $font-family-sans-serif;

$table-cell-padding: 8px;
$table-bg: $white;
$table-border-color:           $border-color;
$table-condensed-cell-padding: 5px;
$table-bg-accent:              lighten( $table-border-color, 10% );
$table-bg-hover:               lighten( $table-border-color, 5% );

// Alerts
// ----------------------------*/
$alert-border-radius:    0px;
$font-family-alert:      $font-family-sans-serif;
$font-size-alert:        $font-size-base;
$alert-padding:          16px;
$font-weight-alert-link: inherit;

$alert-danger-bg:        $brand-danger;
$alert-danger-border:    $alert-danger-bg;
$alert-danger-text:      $white;

$alert-warning-bg:       $brand-warning;
$alert-warning-border:   $alert-warning-bg;
$alert-warning-text:     $white;

$alert-success-bg:       $brand-success;
$alert-success-border:   $alert-success-bg;
$alert-success-text:     $white;

$alert-info-bg:          $brand-info;
$alert-info-border:      $alert-info-bg;
$alert-info-text:        $white;


// Site Header
$site-header-fixed: true; // boolean
$site-header-fixed: false; // boolean

$site-header-bg: $white;
$site-header-border-color: $border-color;
// $site-header-border-color: red;
$site-header-border-width: 0px;
$site-header-color: $text-color;
$site-header-color: $white;

$site-header-height: 55px + $site-header-border-width;


$site-header-bg: $brand-primary;



// NAVIGATION

// $nav-submenu-indicators: true; // boolean

// PRIMARY NAVIGATION
$nav-primary-bg: $white;
$nav-primary-color: $text-color;

// $nav-primary-link-color: $nav-primary-color;
// $nav-primary-link-hover-color: $nav-primary-link-color;


$nav-primary-link-color: $link-color;
$nav-primary-link-hover-color: $text-color;



// SECONDARY NAVIGATION
$nav-secondary-bg: transparent;
$nav-secondary-color: $text-color;

// RESPONSIVE NAVIGATION


// SITE INNER
$site-inner-padding-top: 64px;


// WIDGETS

$widget-margin-top:    0px;
$widget-margin-right:  0px;
$widget-margin-bottom: 16px;
$widget-margin-left:   0px;

$widget-padding-top:    24px;
$widget-padding-right:  16px;
$widget-padding-bottom: 16px;
$widget-padding-left:   $widget-padding-right;


// SIDEBARS
// -----------------------------------------------*/

// -Sidebar widgets

$sidebar-widget-margin-top:    $widget-margin-top;
$sidebar-widget-margin-right:  $widget-margin-right;
$sidebar-widget-margin-bottom: $widget-margin-bottom;
$sidebar-widget-margin-left:   $widget-margin-left;

$sidebar-widget-padding-top:    $widget-padding-top;
$sidebar-widget-padding-right:  $widget-padding-right;
$sidebar-widget-padding-bottom: $widget-padding-bottom;
$sidebar-widget-padding-left:   $sidebar-widget-padding-right;

$sidebar-widget-bg: $google-grey-50;
$sidebar-widget-bg: $white;




// SIDEBAR PRIMARY
$sidebar-primary-margin-bottom: 64px;

// -Primary sidebar widgets
$sidebar-primary-widget-margin-top: $sidebar-widget-margin-top;
$sidebar-primary-widget-margin-right: $sidebar-widget-margin-right;
$sidebar-primary-widget-margin-bottom: 0px;
$sidebar-primary-widget-margin-left: $sidebar-widget-margin-left;

$sidebar-primary-widget-padding-top:    0px;
$sidebar-primary-widget-padding-right:  $sidebar-widget-padding-right;
$sidebar-primary-widget-padding-bottom: 32px;
$sidebar-primary-widget-padding-left:   $sidebar-primary-widget-padding-right;

$sidebar-primary-widget-bg: $sidebar-widget-bg;


// - Footer widgets

$footer-widgets-bg: $theme-green;
$footer-widgets-color: $white;
$footer-widgets-title-color: $footer-widgets-color;

$footer-widgets-widget-bg: transparent;
$footer-widgets-widget-border-color: tint( $footer-widgets-bg, 10% );




// PAGINATION
$pagination-item-bg: $white;
$pagination-item-color: $link-color;

$pagination-item-border-width: 1px;
$pagination-item-border-style: solid;
$pagination-item-border-color: $border-color;
// hover
$pagination-item-hover-bg: $google-blue-grey-50;
$pagination-item-hover-color: $link-color;
// current
$pagination-item-current-bg: $google-blue-grey-100;
$pagination-item-current-color: white;


// ENTRY
// $entry-padding-bottom: 16px;
// $entry-padding-bottom: 0px;
// $entry-margin-bottom: 24px;



$entry-padding-bottom: 24px;
$entry-margin-bottom: 3em;



// SITE FOOTER
$site-footer-bg: $white;
