/* CSS Document */

// TODO Fails as overidden by WC CSS
.woocommerce nav.woocommerce-pagination {
    text-align: left;
}

.woocommerce .related {
	clear: both;
}

.woocommerce mark.count {
	background-color: inherit;
	color: inherit;
	padding: 0;
}